on fs
   write /proc/sys/kernel/randomize_va_space 0
   chown root system /dev/ttySAC1
   chmod 0660 /dev/ttySAC1

on post-fs-data
    # create data/gps for GPS demon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps
    chmod 771 /data/gps
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown gps root /sys/class/sec/gps/GPS_nRST/value
    chmod 664 /sys/class/sec/gps/GPS_nRST/value
    chown gps root /sys/devices/platform/s5pv210-uart.1/rts_cts_gate
    chmod 664 /sys/devices/platform/s5pv210-uart.1/rts_cts_gate

on boot
service gpsd /system/bin/gpsd
    class late_start
    socket gps seqpacket 0660 system system
    user system
    group system inet

on service-exited-initd
  chmod 660 /data/gps/secgpsd.socket