on fs
   write /proc/sys/kernel/randomize_va_space 0

on post-fs-data
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown root system /sys/class/sec/gps/GPS_nRST/value
    chmod 0664 /sys/class/sec/gps/GPS_nRST/value
    mkdir /data/gps 771 system system
    chown system system /data/gps


on boot
service gpsd /system/bin/gpsd
    class late_start
    socket gps seqpacket 0664 system system
    user system
    group system inet

on property:sys.boot_completed=1
  chown system system /data/gps/secgpsd.socket
  chmod 664 /data/gps/secgpsd.socket