
/dev/accelerometer        0660   system     system
/dev/akm8975              0660   system     system
/dev/block/mmcblk0p4      0660   system     system
/dev/block/mmcblk0p8      0660   system     radio
/dev/CEC                  0660   system     system
/dev/dpram0               0660   radio      radio
/dev/dpram1               0660   radio      radio
/dev/dpramerr             0660   radio      radio
/dev/exynos-mem           0666   system     graphics
/dev/fimg2d               0666   system     graphics
/dev/fmradio              0660   system     audio
/dev/graphics/fb0         0777   root       graphics
/dev/HPD                  0660   system     system
/dev/i2c-2                0660   system     system
/dev/i2c-5                0660   system     system
/dev/i2c-7                0666   system     system
/dev/input/*              0660   root       input
/dev/ion                  0666   system     system
/dev/link_pm              0660   system     radio
/dev/log/*                0662   root       log
/dev/mali                 0666   system     system
/dev/media0               0660   system     system
/dev/media1               0660   system     camera
/dev/media2               0660   system     camera
/dev/multipdp             0660   radio      radio
/dev/pmem                 0660   system     graphics
/dev/pmem_gpu1            0660   system     graphics
/dev/ppp                  0660   radio      vpn
/dev/rfkill               0666   root       root
/dev/s3c-mem              0666   system     system
/dev/s3c-mfc              0666   system     graphics
/dev/s5p-jpeg             0666   system     camera
/dev/s5p-mfc              0666   system     graphics
/dev/snd/controlC0        0660   system     audio
/dev/snd/hwC0D0           0660   system     audio
/dev/snd/pcmC0D0c         0660   system     audio
/dev/snd/pcmC0D0p         0660   system     audio
/dev/snd/pcmC0D1c         0660   system     audio
/dev/snd/pcmC0D1p         0660   system     audio
/dev/snd/timer            0660   system     audio
/dev/srp                  0660   system     audio
/dev/srp_ctrl             0666   system     audio
/dev/swmxctl              0660   system     system
/dev/ts0710mux*           0640   radio      radio
/dev/ttyCDMA0             0660   radio      radio
/dev/ttyEFS0              0660   radio      radio
/dev/ttyUSB0              0666   system     system
/dev/ttyVTAD0             0660   radio      radio
/dev/ttyVTCTRL0           0660   radio      radio
/dev/ttyVTENT0            0660   radio      radio
/dev/ttyVTVD0             0660   radio      radio
/dev/tun                  0660   vpn        vpn
/dev/ump                  0666   system     graphics
/dev/umts*                0660   system     radio
/dev/usb/lp*              0660   system     usb
/dev/uwibro               0660   system     system
/dev/v4l-subdev0          0660   system     system
/dev/v4l-subdev10         0660   system     system
/dev/v4l-subdev1          0660   system     system
/dev/v4l-subdev11         0660   system     system
/dev/v4l-subdev12         0660   system     system
/dev/v4l-subdev13         0660   system     system
/dev/v4l-subdev14         0660   system     system
/dev/v4l-subdev15         0660   system     system
/dev/v4l-subdev16         0660   system     system
/dev/v4l-subdev17         0660   system     system
/dev/v4l-subdev3          0660   system     system
/dev/v4l-subdev4          0660   system     system
/dev/v4l-subdev5          0660   system     system
/dev/v4l-subdev6          0660   system     system
/dev/v4l-subdev7          0660   system     system
/dev/v4l-subdev8          0660   system     system
/dev/v4l-subdev9          0660   system     system
/dev/video0               0666   system     m2m
/dev/video1               0666   system     camera
/dev/video11              0666   system     graphics
/dev/video11              0666   system     system
/dev/video12              0660   system     camera
/dev/video12              0666   system     system
/dev/video14              0666   system     system
/dev/video16              0660   system     system
/dev/video16              0666   system     system
/dev/video17              0660   system     system
/dev/video18              0660   system     system
/dev/video19              0660   system     system
/dev/video20              0666   system     system
/dev/video2               0666   system     m2m
/dev/video21              0660   system     system
/dev/video21              0666   system     system
/dev/video23              0660   system     system
/dev/video24              0660   system     system
/dev/video25              0660   system     camera
/dev/video26              0666   media      m2m
/dev/video29              0666   media      m2m
/dev/video3               0666   system     m2m
/dev/video32              0660   media      m2m
/dev/video33              0660   system     system
/dev/video34              0660   system     system
/dev/video40              0660   system     camera
/dev/video4               0666   system     m2m
/dev/video41              0660   system     camera
/dev/video42              0660   system     camera
/dev/video43              0660   system     camera
/dev/video6               0660   media      graphics
/dev/video7               0660   media      graphics

